/CNN/Models/*.npy
/CNN/Models/inception-v3/
/dataset/cifar-10-batches-py/
/dataset/MNIST/
/dataset/movielens/*.npy
/dataset/movielens/ml-1m/
/dataset/flickr30k/flickr30k-images/
/dataset/flickr30k/features/
/dataset/flickr30k/*.token
/dataset/flickr30k/*.txt
/dataset/news_CN/*.txt
/dataset/SVHN/Cropped/
/dataset/SVHN/Full/